<div class="container text-center">
  <h5> Congratulations <%= @booking.user.name %>!</h5>
  <div>
    <h2>Recipe</h2>
    <h3>You rent: <%= @booking.product.name %></h3>
    <p>Fecha de alquiler: <%= @booking.booked_at %></p>
    <div class="my-3">
      <%= cl_image_tag @booking.product.photo, width: 300, height: 300, crop: :thumb %>
  </div>
  <%= link_to 'Enjoy, Thank you', root_path, class: 'btn btn-danger btn-lg' %>
</div>
