<% @user.products.each do |product| %>

<div class="container">
  <!-- una card -->
  <div class="card-trip m-3">
    <img src="https://source.unsplash.com/collection/1163637/512x300" />
    <div class="card-trip-infos">
      <div class="m-3">
        <h2><%= product.name %></h2>
        <p><%= product.category %></p>
      </div>
      <div class="m-3">
        <p><%= product.description %></p>
        <p><%= product.location %></p>
      </div>
      <div class="d-flex m-3 align-items-center">
        <%= link_to "Edit", edit_product_path(product), class:"btn btn-primary btn-lg px-4" %>
        <%= link_to "Delete", product_path(product), method: :delete, class:"btn btn-primary btn-lg px-4" %>
       </div>
      <div>
        <h2 class="align-self-end"> $ <%= product.price %></h2>
      </div>
      <img src="https://source.unsplash.com/collection/2013520/200x200" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
My bookings
<%= @user.bookings%>
<% end %>
