
<div class="container">
	<ul class="list-inline nav tabs-underlined my-4" id="myTab" role="tablist">
		<!-- una card -->
		<li class="">
			<a class="tab-underlined active" id="my-products-tab" data-toggle="tab" href="#my-products" role="tab" aria-controls="my-products" aria-selected="true">My Products</a>
		</li>
		<li class="">
			<a  class="tab-underlined" id="my-bookings-tab" data-toggle="tab" href="#my-bookings" role="tab" aria-controls="my-bookings" aria-selected="true">Bookings</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="my-products" role="tabpanel" aria-labelledby="my-products-tab">
    <div class = "mediatarjeta">
  			<% @user.products.each do |product| %>
        <%= link_to product_path(product) do %>
        <%= render 'shared/card-product', product: product  %>
        <% end %>
        <% end %>
      </div>
    </div>
  <div class="tab-pane fade" id="my-bookings" role="tabpanel" aria-labelledby="my-bookings-tab">
    <div class = "mediatarjeta">
    <% current_user.bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag booking.product.photo %>
      <div class="card-product-infos">
          <h2><%=  booking.product.name %></h2>
            <p><%= booking.product.category %></p>
            <p><%= booking.product.description %></p>
      </div>
      <%= link_to "Add a review", new_booking_review_path(booking), class:"btn btn-primary btn-block" %>
    </div>
    <% end %>
  </div>
  </div>
  </div>
</div>



