<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "IBIZA", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Add Product", new_product_path, class: "dropdown-item" %>
            <%= link_to "View Products", user_path(current_user), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class: 'link_to_style' do%>
        <%= current_user.email %>
        <%#= cl_image_tag current_user.photo, class: 'avatar' %>
        <img class="avatar" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"  />
      <% end %>
    <% end %>
  </div>
</nav>
