
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Todo lo que necesitas para tu fiesta en un solo lugar!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <%= simple_form_for @product do |f| %>
              <div class="col-12 col-md-4 align-items-center">
                <%= f.input :name, label: false, placeholder: 'Ingresa un producto' %>
              </div>
                <div class="col-12 col-md-4 align-items-center">
                    <%= f.input :category, prompt:"Ingresa Categoria", collection: [ "Decoracion", "Audio", "Mobiliario"], label: false, placeholder: 'Selecciona Categoria' %>
              </div>
              <div class="col-12 col-md-3 align-items-center">
                <%= f.button :submit, "Buscar", class: "btn btn-primary btn-block"%>
              </div>
            </div>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </header>


<h1 class="my-5 text-center"><strong>Bienvenido a IBIZA</strong></h1>




<h2 class="my-4 text-center">Portfolio Productos</h2>


<div class="cards">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <%= render 'shared/cards', product: product  %>
    <% end %>
  <% end %>
</div>
