<div class="container">
		<div class="form-signin">

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="form-inputs">
			  <h2 class="text-center"><strong>Log in</strong></h2>
        <p>Enter your email</p>
				<%= f.input :email,
				required: false,
				autofocus: true,
				input_html: { autocomplete: "email" },
				label: false,
				placeholder: "email" %>
				<%= f.input :password,
				required: false,
				input_html: { autocomplete: "current-password" },
				label: false,
				placeholder: "Password"%>
				<%= f.input :remember_me, label_html: { class:"text-primary" },  as: :boolean if devise_mapping.rememberable? %>
			</div>

			<div class="form-actions">
				<%= f.button :submit, "Log in", class:"btn-primary btn-block my-3" %>
				<%= render "devise/shared/links" %>
			</div>
			<% end %>

		</div>
</div>
