<div class="container ">

<div>
  <h2>New Product</h2>
  <%= simple_form_for(@product) do |p| %>
    <%= p.input :name %>
    <%= p.input :description %>
    <%= p.input :price  %>
    <%= p.input :category%>
    <%= p.input :location %>
    <%= p.submit class:"btn btn-primary btn-block" %>
  <% end %>
</div>
</div>

