<div class="container">
   <div class="text-center mb-4">
    <div class="form-inputs">
      <h2 class="h3 mb-3 font-weight-normal">New Product</h2>
      <%= simple_form_for(@product) do |f| %>
      <% if @product.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :name, label: false, placeholder:"Name", class:"text-center" %>
      <%= f.input :description, label: false, placeholder:"Desciption" %>
      <%= f.input :category, label: false, collection: Product::CATEGORY, placeholder:"Decoration" %>
      <%= f.input :price, label: false, placeholder:"$175" %>
      <%= f.input :location, label: false, placeholder:"San Miguel de Tucumán, Tucumán, Argentina" %>
      <%= f.input :start, as: :string, required: false, input_html: {id: "range_start"}, label: false, placeholder:"October 15, 2019" %>
      <%= f.input :end, as: :string, required: false, input_html: {id: "range_end"}, label: false, placeholder:"October 30, 2019" %>

      <%= f.input :photo, label: false %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class:"btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>




