<div class="container ">

<div>
  <h2>New Product</h2>
  <%= simple_form_for(@product) do |p| %>
    <% if @product.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= p.input :name %>
    <%= p.input :description %>
    <%= p.input :category %>
    <%= p.input :price %>
    <%= p.input :location %>
    <%= p.input :photo %>
    <%= p.input :photo_cache, as: :hidden %>
    <%= p.submit class:"btn btn-primary btn-block" %>
  <% end %>
</div>
</div>

